In [1]:
import pandas as pd
from prophet import Prophet
import plotly.express as px
import requests
import json

In [2]:
df = pd.read_excel(r'C:\Users\juand\OneDrive\Documentos\Proyecto Modelo Codigo\api-monitoreo-financiero\src\data\DEUDA.xlsx')
df.head()

       Fecha  Moneda Interna1_Billo Externa_Billo Total_Billo
0 2018-01-31       1          273,6         137,9       411,5
1 2018-01-31       2           96,2          48,5       144,7
2 2018-02-28       1          279,1         138,3       417,3
3 2018-02-28       2           97,7          48,4       146,1
4 2018-03-31       1          280,6         136,6       417,1